# User settings
settings.json

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# PyInstaller distribution / packaging output
dist/
build/
*.spec
